
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>QR Generate</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>
<body>
    <form id="form1" runat="server" action="~/Default" method="post">
        <div class="container">
            <h2>Identificación: @ViewBag.Identificacion</h2>
            <h2>Nombre: @ViewBag.Nombre</h2>
            <h2>Teléfono: @ViewBag.Telefono</h2>
            <h2>Saldo: @ViewBag.Saldo</h2>
            @if (ViewBag.imageBytes != null)
            {
                <img src="@String.Format("data:image/png;base64,{0}", Convert.ToBase64String(ViewBag.imageBytes))" />
            }
        </div>
    </form>
</body>
</html>
